@model Northwind.Data.Domain.DTO.Category.CategoryImageViewModel
@using Northwind.Core.HtmlHelpers;
@{
    ViewData["Title"] = "UploadImage";
}

<div>
    @await Component.InvokeAsync("Breadcrumbs", new { context = Context })
</div>
<h1>UploadImage</h1>

<h4>CategoryImageViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CategoryId" type="hidden" value="@Model.CategoryId" />
            <dl>
                <dt>
                    <label asp-for="FormFile"></label>
                </dt>
                <dd>
                    <a href="@Html.NorthwindImageLink(Model.CategoryId)">
                        <img src="@Html.NorthwindImageLink(Model.CategoryId)" alt="CategoryImage_@Model.CategoryId" />
                    </a>
                    <input asp-for="FormFile" type="file" accept=".jpg, .jpeg, .png">
                    <span asp-validation-for="FormFile"></span>
                </dd>
            </dl>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Categories">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
